<br>
<br>
<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-sm-5 align-self-center">
            <div class="card shadow">
                <div class="card-body"> 
                    
                    <div class="form-grup text-center">
                        <img src="https://cdn.pixabay.com/photo/2015/03/18/12/32/confirm-679245_960_720.png" class="img-fluid" alt="Responsive image" width="300">
                        <br>
                        <br>
                        <p><b>Confirmar cuenta</b></p> 
                        <h2>{{EMAIL}}</h2>
                        <br>
                    </div>    
                    <form>
                        
                        <div class="form-group text-center">
                            <button type="reset" class="btn btn-primary btn-block" (click) = "confirmar()">Confirmar y continuar a Login</button>
                        </div>
                    </form>  
                    <br>                
                </div>
            </div>
        </div>
    </div>
</div> 
