<br>
<br>
<div class="container h-100">
  <div class="row justify-content-center h-100">
      <div class="col-sm-5 align-self-center">
          <div class="card shadow">
              <div class="card-body"> 
                  <div class="form-group text-center">
                    <img src="https://cdn.pixabay.com/photo/2016/03/31/17/33/account-1293744_640.png" class="img-fluid" alt="Responsive image" width="100" height="100">
                  </div>
                  <div class="form-container">
                      
                  </div>    
                  <div>
                      <div class="form-group text-center">
                          <p>
                              No se ha identificado, ingrese para continuar navegando.<br>
                          </p>
                      </div>
                      <div class="alert alert-light text-center" role="alert" >
                          <button type="button" class="btn btn-primary btn-block" (click)="irALogin()">Ir a Login</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> 
