<hr>
<nav class="nav nav-pills flex-column flex-sm-row bg-" >
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/perfil']">Perfil</a>
    <a class="flex-sm-fill text-sm-center nav-link active" [routerLink] = "['/productos']">Productos</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/nuevo']">Nuevo Producto</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/misproductos']">Mis Productos</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/mensaje']">Mensajes</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/carrito']">Carrito</a>
    <a class="flex-sm-fill text-sm-center nav-link" [routerLink] = "['/logout']">Salir</a>
  </nav>
  <hr>
  <br>

  <div clas="form-group text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-2 text-center">
        <input class="form-control mr-sm-2" [ngModelOptions]="{standalone: true}" [(ngModel)]="BUSQUEDA" type="search" placeholder="Ingresar criterio..." aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="button" (click)="buscarProductos()">Buscar</button>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <input class="form-control mr-sm-2" [ngModelOptions]="{standalone: true}" [(ngModel)]="BUSQUEDA" type="search" placeholder="Ingresar criterio..." aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="button" (click)="buscarProductos()">Buscar</button>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41MSqLLB1kL.png" class="img-fluid" alt="Responsive image" width="35">
        &nbsp;
        <button class="btn btn-success my-2 my-sm-0" type="button" (click)="buscarProductos()">Buscar</button>
      </div>
      <div class="col-xs-12 col-sm-2 text-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/41MSqLLB1kL.png" class="img-fluid" alt="Responsive image" width="35">
        &nbsp;
        <button class="btn btn-success my-2 my-sm-0" type="button" (click)="buscarProductos()">Buscar</button>
      </div>
    </div>

  </div>
  
  

    

<br>
  <div class="row">
    <div class="col-xs-12 col-sm-3 text-center" *ngFor='let producto of servicio.productos'>
      <div class="card" style="width: 18rem;" >
        <img src={{producto[7]}} class="card-img-top" alt="producto" width="100px" height="100px" id="idfoto">
        <div class="card-body">
          <h5 class="card-title">{{producto[1]}}</h5>
          <p class="card-text">{{producto[2]}}</p>
          <h6><b>Q.{{producto[4]}}</b></h6><br>
          <button class="btn btn-warning" (click) = "verDetalles(producto[0])">Ver Detalles</button>
          <br>
        </div>
      </div>
    </div>
  </div>